* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.thanks-message p {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.0007em;
  color: rgba(0, 0, 0, 0.87);
  margin: 24px 0px;
}
