* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row {
  margin-right: 0;
  margin-left: 0px;
}

.works-content {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.works-header h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: 0.0022em;
  color: rgba(0, 0, 0, 0.87);
  margin: 24px 0px;
}

.works-header {
  width: 500px;
}

.bqdePq {
  background: transparent !important;
}
.cGKbZh:hover:enabled,
.cGKbZh:focus:enabled {
  color: #fff;
  background-color: rgba(254, 195, 195, 1) !important;
  box-shadow: 0 0 2px 0 #333;
}
.jLgnwX {
  background-color: rgb(0 0 0 / 50%) !important;
  height: 10px !important;
  width: 10px !important;
}
.ejXxNI {
  background-color: rgba(254, 195, 195, 0.5) !important;
  height: 10px !important;
  width: 10px !important;
  box-shadow: none !important;
}

@media (max-width: 991px) {
  .container {
    display: block;
  }
  .works-content {
    position: relative;
    display: block;
    width: 100%;
  }
  .works.header {
    width: 100%;
  }
  .menu-tabs {
    width: 100%;
  }
  .menu-tab {
    display: table;
    text-align: center;
  }
  .menu-tab .btn-dark {
    margin-bottom: 10px;
  }
  .works-header h1 {
    font-size: 36px;
  }
  .cGKbZh {
    font-size: 0.6em !important;
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
    line-height: 20px !important;
  }
  .ehkxHv {
    font-size: 0.6em !important;
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
    line-height: 20px !important;
  }
  .jLgnwX {
    display: none !important;
  }
}

/* .hnwHYa {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: auto;
  width: 100%;
  color: #fff;
  margin: 15px;
  padding: 20px;
  font-size: 0em !important;
} */
